/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8e0cf;
    color: #333;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f3892b54;
    padding: 10px 20px;
    color: white;
}

.logo img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.logo h1 {
    font-size: 24px;
    color: white;
}

.main-menu {
    list-style: none;
    display: flex;
}

.main-menu li {
    margin-left: 20px;
}

.main-menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* Search Section */
.search-section {
    margin: 20px auto;
    width: 80%;
    text-align: center;
}

#search {
    width: 50%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Recipes Section */
.recipes-section {
    padding: 20px;
    text-align: center;
}

.recipe-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.recipe-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 30%;
    margin: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.recipe-card img {
    width: 100%;
    height: 200px;
    border-radius: 5px;
}

.recipe-card h3 {
    color: #ff5722;
    margin: 10px 0;
}

.recipe-card p {
    font-size: 14px;
    color: #555;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
